// Fade up

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards; 
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// Fade in
.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} 

// Fade in with delay
.fade-in-delay {
  animation-name: fadeInDelay;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

@keyframes fadeInDelay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}