// Import theme configuration (includes colors, animations and Bootstrap)
@import "./theme.scss";
@import "./accessibility.scss";

// AOS Animation Styles
[data-aos] {
  opacity: 0;
  transition-property: opacity, transform;
}

[data-aos].aos-animate {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  min-height: 100vh;
}

::-webkit-scrollbar {
    display: none;
}

// Scroll behavior for smooth scrolling
html{
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}


hr{
  margin: 2rem 0;
  border: none;
  border-top: 1px solid $color-gray-400;
}

// Fix the container width for medium screens to better experience in mobile devices
@media (max-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 100%;
    }
}

// Typography - Shared Styles

.monospace{
  font-size: 0.8rem;
  color: $color-primary;
  font-family: 'Courier New', Courier, monospace;
}

h2.title {
  font-family: 'Crimson Text', serif;
  font-size: 3.5rem;
  font-weight: 100;
  color: $color-black;
  margin-bottom: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 2.5rem;
    
  }
}

h3.title{
  font-size: 1.25em;
  font-weight: thin;
  font-family: 'Crimson Text', serif;
  font-weight: 100;
  padding-bottom: 0.5rem;
}

p.description {
  font-size: 0.9rem;
  font-family: "DM Sans", sans-serif;
  color: $color-gray-500;
  font-weight: 300;
}

p.subtitle {
  font-family: 'DM Sans', serif;
  font-size: 1.2rem;
  font-weight: 300;
  color: $color-gray-600;
  text-align: left;
  margin-bottom: 2rem;
}

// Form

.form-label {
  font-family: 'DM Sans', serif;
  font-size: 1rem;
  font-weight: 300;
  color: $color-gray-600;
  border-radius: 50px;
}
textarea.form-control{
  border-radius: 20px;
}
.form-select, input[type="text"],input[type="textarea"], input[type="email"], input[type="tel"], input[type="number"], input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="url"], input[type="search"], input[type="color"], input[type="file"], input[type="range"], input[type="password"], input[type="textarea"] {
  border-radius: 50px;
  border: 1px solid $color-gray-400;
  padding: 0.5rem 1rem;
  font-family: 'DM Sans', serif;
  font-size: 1rem;
  font-weight: 300;
  color: $color-gray-600;
}